@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    min-height: 100vh;
}

/* :hover */
.Logo{
    pointer-events: none;
}
.Logo:hover::before{
    content: "";
    position: absolute;
    width:240px;
    height: 240px;
    border-radius: 100%;
    top: -80px;
    left: -80px;
    background-image: linear-gradient(135deg,#FFF1E0, #E7F5EA,#CDB3F4);
    filter: blur(40px);
    z-index: -1;
}
.Logo:hover::after {
    content: "";
    /* "Hello there"; */
    position: absolute;
    display: block;
    padding: 10px;
    color: #333;
    top: 100%;
    left: 80%;
    width: max-content;
    width: 180px;
    height: 180px;
    background-image: url("../public/img/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.Logo img{
    pointer-events: auto;
}

.preview >img{
    max-width: 90vw;
}


.showUiprev:hover > .Hoverimageui{
    /* display: block; */
    visibility: visible;
    position: absolute;
    width: max-content;
    height: max-content;
    left:50%;
    transform: translate(-50%);
}
.Hoverimageui{
    visibility: hidden;    
}
.Hoverimageui>img{
    width: auto;
    height: 100%;
    max-height: 66vh;
    object-fit: contain;
}

.maxW70vw{
    max-width: 70vw;
}
.vidCall{
    right: 40px;
    top: 40px;
    height: 400px;
    width: 300px;
    max-height: 70vh;
    z-index: 99999999999;
}
.vidCall > .incomingvid{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;
    object-fit: cover;
}
.vidCall .myvid{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width: 440px) {
    .showUiprev:hover > .Hoverimageui{
        display: none;
    }
}