@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/* :hover */
.Logo{
    pointer-events: none;
}
.Logo:hover::before{
    content: "";
    position: absolute;
    width:240px;
    height: 240px;
    border-radius: 100%;
    top: -80px;
    left: -80px;
    background-image: linear-gradient(135deg,#FFF1E0, #E7F5EA,#CDB3F4);
    filter: blur(40px);
    z-index: -1;
}
.Logo:hover::after {
    content: "";
    /* "Hello there"; */
    position: absolute;
    display: block;
    padding: 10px;
    color: #333;
    top: 100%;
    left: 80%;
    width: max-content;
    width: 180px;
    height: 180px;
    background-image: url("../public/img/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.Logo img{
    pointer-events: auto;
}